.disp-flex {
  display: flex;
}
.vcenter {
  align-items: center;
}
.hcenter {
  justify-content: center;
}
.vend {
  align-items: flex-end;
}
.hend {
  justify-content: flex-end;
}
.bold {
  font-weight: bold;
}
.has-space-btwn {
  display: flex;
  justify-content: space-between;
}
.u-center-text { text-align: center !important; }

.u-margin-bottom-small { margin-bottom: 1.5rem !important; }
.u-margin-bottom-medium {
    margin-bottom: 4rem !important;

    @include respond(tab-port) {
        margin-bottom: 3rem !important;
    }
}

.u-margin-bottom-big { 
    margin-bottom: 8rem !important;

    @include respond(tab-port) {
        margin-bottom: 5rem !important;
    }
}

.u-margin-top-big { margin-top: 8rem !important; }
.u-margin-top-huge { margin-top: 10rem !important; }